<div class="container">
  <div class="card" id="card">
    <p-toolbar styleClass="p-mb-4"
      ><h2 class="title">Lavorazioni</h2>
      <br />
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="apriModale()"
        ></button
        >&nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-arrow-left"
          class="p-button-primary p-mr-2"
          routerLink="/home-input"
        ></button
        >&nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-arrow-right"
          class="p-button-primary p-mr-2"
          [disabled]="!lavorazioni.length"
          routerLink="/altre-lavorazioni"
        ></button
        >&nbsp;
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="txt-search"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Ricerca..."
          />
        </span>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="lavorazioni"
      class="table"
      [rows]="10"
      [paginator]="true"
      scrollHeight="310px"
      [virtualScroll]="false"
      [globalFilterFields]="['operazione','co2Ettaro','numeroPassate']"
      [(selection)]="lavorazioniSelezionate"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Visualizzazione {first} su {last} di totale {totalRecords} voci"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="t-header" pSortableColumn="operazione">
            Lavorazione<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="t-header" pSortableColumn="numeroPassate">
            NumeroPassate <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th class="t-header" pSortableColumn="numeroPassate">
            KgCo2Ettaro <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th class="t-header" pSortableColumn="numeroPassate">
            M3BlueWaterEttaro <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lavorazione>
        <tr>
          <td class="btn-edit">{{lavorazione.operazione}}</td>
          <td class="btn-edit">{{lavorazione.numeroPassate}}</td>
          <td class="btn-edit">{{lavorazione.kgCo2Ettaro}}</td>
          <td class="btn-edit">{{lavorazione.m3BlueWaterEttaro}}</td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2 btn-edit"
              (click)="aggiornaLavorazione(lavorazione)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning btn-edit"
              (click)="eliminaLavorazione(lavorazione)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In totale ci sono {{lavorazioni ? lavorazioni.length : 0 }}
          lavorazioni.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="dialogLavorazioni"
    [style]="{width: '450px'}"
    header="Dettagli lavorazione"
    [modal]="true"
    (onHide)="chiudiDialogLavorazione()"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="tipoLavorazioneList">Lavorazione</label>
        <p-dropdown
          id="tipoLavorazioneList"
          *ngIf="!updating"
          [options]="tipiLavorazione"
          [(ngModel)]="selectedTipoLavorazione"
          optionLabel="name"
        ></p-dropdown>
      </div>

      <div class="p-field" *ngIf="updating">
        <label for="nomeLavorazione">Nome Lavorazione</label>
        <input
          id="nomeLavorazione"
          [disabled]="true"
          type="text"
          placeholder="Nome Lavorazione"
          pInputText
          [(ngModel)]="nomeLavorazione"
        />
      </div>

      <br />

      <div *ngIf="enable"></div>
      <div class="p-field">
        <label for="numeroPassate">Numero Passate</label>

        <p-inputNumber
          [(ngModel)]="selectedNumeroPassate"
          [showButtons]="true"
          [min]="1"
          [required]="true"
        ></p-inputNumber>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="chiudiDialogLavorazione()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="salvaLavorazione()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
