<div class="container">
  <div class="card" id="card">
    <p-toolbar styleClass="p-mb-4"
      ><h2 class="title">Emissioni Altre Attività</h2>
      <br />
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="apriModale()"
        ></button
        >&nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-arrow-left"
          class="p-button-primary p-mr-2"
          routerLink="/fertilizzanti"
        ></button
        >&nbsp;
        <button
          pButton
          pRipple
          icon="pi pi-arrow-right"
          class="p-button-primary p-mr-2"
          
          routerLink="/home-input"
        ></button
        >&nbsp;
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="txt-search"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Ricerca..."
          />
        </span>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="emissioniAltreAttivita"
      class="table"
      [rows]="10"
      [paginator]="true"
      scrollHeight="310px"
      [virtualScroll]="false"
      [globalFilterFields]="['operazione','co2Ettaro','numeroPassate']"
      [(selection)]="emissioniAltreAttiviaSelezionate"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Visualizzazione {first} su {last} di totale {totalRecords} voci"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="t-header" pSortableColumn="operazione">
            Lavorazione<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="t-header" pSortableColumn="numeroPassate">
            NumeroPassate <p-sortIcon field="price"></p-sortIcon>
          </th>

          <th class="t-header" pSortableColumn="percentualeCaricoLavoro">
            PercentualeCaricoLavoro<p-sortIcon field="name"></p-sortIcon>
          </th>

          <th class="t-header" pSortableColumn="Velocità">
            Velocità<p-sortIcon field="name"></p-sortIcon>
          </th>

          <th class="t-header" pSortableColumn="numeroPassate">
            KgCo2Ettaro <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th class="t-header" pSortableColumn="numeroPassate">
            M3BlueWaterEttaro <p-sortIcon field="price"></p-sortIcon>
          </th>

          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emissioneAltraAttivita>
        <tr>
          <td class="btn-edit">{{emissioneAltraAttivita.operazione}}</td>
          <td class="btn-edit">{{emissioneAltraAttivita.numeroPassate}}</td>
          <td class="btn-edit">{{emissioneAltraAttivita.caricoLavoro}}</td>
          <td class="btn-edit">{{emissioneAltraAttivita.velocita}}</td>
          <td class="btn-edit">{{emissioneAltraAttivita.kgCo2Ettaro}}</td>
          <td class="btn-edit">{{emissioneAltraAttivita.m3BlueWaterEttaro}}</td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2 btn-edit"
              (click)="aggiornaEmissioneAltreAttivita(emissioneAltraAttivita)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning btn-edit"
              (click)="eliminaEmissioneAltreAttivita(emissioneAltraAttivita)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In totale ci sono {{emissioniAltreAttivita ? emissioniAltreAttivita.length : 0 }}
          EmissioniAltreAttività.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="dialogEmissioniAltreAttivita"
    [style]="{width: '450px'}"
    header="Dettagli lavorazione"
    [modal]="true"
    (onHide)="chiudiDialogEmissioniAltreAttivita()"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">


      <div class="p-field" *ngIf="updating">

        <input id="nomeLavorazione"
          [disabled]="true"
          type="text"
          placeholder="Lavorazione"
          pInputText
          [(ngModel)]="nomeEmissioneAltraAttivita"
        />
      </div>

      <br />

      <div *ngIf="!enable">
        <div class="p-field input-class">
          <label for="nomeLavorazione">Nome Lavorazione</label>
          <input id="nomeLavorazione"
            type="text"
            placeholder="Nome Lavorazione"
            pInputText
            [(ngModel)]="nomeEmissioneAltraAttivita"
          />
        </div>
        <br />
        <div class="p-field input-class">
          <label for="listVelocita">Velocità</label>
          <p-dropdown
            id="listVelocita"
            [options]="listVelocita"
            [(ngModel)]="velocitaSelezionata"
            optionLabel="name"
            placeholder="Velocità"
          ></p-dropdown>
        </div>
        <br />

        <div class="p-field input-class">
          <label for="listForzaLavoro">ForzaLavoro</label>
          <p-dropdown
            id="listForzaLavoro"
            [options]="listForzaLavoro"
            [(ngModel)]="caricoLavoroSelezionato"
            optionLabel="name"
            placeholder="ForzaLavoro"
          ></p-dropdown>
        </div>
        <br />
      </div>

      <div *ngIf="enable"></div>
      <div class="p-field">
        <label for="numeroPassate">Numero Passate</label>

        <p-inputNumber
          [(ngModel)]="selectedNumeroPassate"
          [showButtons]="true"
          [min]="1"
          [required]="true"
        ></p-inputNumber>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="chiudiDialogEmissioniAltreAttivita()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="salvaLavorazione()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
