<div class="container">
  <div class="form">
    <h2 class="title">Dati Produttivi</h2>
    <br />

    <div class="p-field input-class">
      <label for="resaGranellaKgEttaro" style="color: white"
        >Resa Granella KgEttaro</label
      >
      <p-inputNumber
        class="data-input"
        id="resaGranellaKgEttaro"
        [(ngModel)]="datiProduttivi.datiProduttiviCarbonFootPrint.resaGranellaKgEttaro"
        [showButtons]="true"
        placeholder="Resa Granella KgEttaro"
        [min]="0"
        [required]="true"
        (ngModelChange)="onChangeResaGranellaKgEttaro($event)"
      ></p-inputNumber>
    </div>
    <br />

    <div class="p-field input-class">
      <label for="percentualeUmiditaGranella" style="color: white"
        >Umidità Granella %</label
      >
      <p-inputNumber
        class="data-input"
        id="percentualeUmiditaGranella"
        [(ngModel)]="datiProduttivi.datiProduttiviCarbonFootPrint.percentualeUmiditaGranella"
        [showButtons]="true"
        placeholder="Umidità Granella %"
        [min]="0"
        [max]="100"
        [required]="true"
        (ngModelChange)="onChangePercentualeUmiditaGranella($event)"
      ></p-inputNumber>
    </div>
    <br />

    <div class="p-field input-class">
      <label for="pagliaAsportataKgEttaro" style="color: white"
        >Paglia Asportata KgEttaro</label
      >
      <p-inputNumber
        class="data-input"
        id="pagliaAsportataKgEttaro"
        [(ngModel)]="datiProduttivi.datiProduttiviCarbonFootPrint.pagliaAsportataKgEttaro"
        [showButtons]="true"
        placeholder="Paglia Asportata KgEttaro"
        [min]="0"
        (ngModelChange)="onChangePagliaAsportataKgEttaro($event)"
        [required]="true"
      ></p-inputNumber>
    </div>
    <br />


    <div class="p-field input-class">
      <label for="pagliaProdottaKgEttaro" style="color: white"
        >Paglia Prodotta KgEttaro(Modifica se Errato)</label
      >
      <p-inputNumber
        class="data-input"
        id="pagliaProdottaKgEttaro"
        [(ngModel)]="datiProduttivi.datiProduttiviCarbonFootPrint.pagliaProdottaKgEttaro"
        [showButtons]="true"
        placeholder="Paglia Prodotta KgEttaro"
        [required]="true"
        [min]="0"
      ></p-inputNumber>
    </div>
    <br />




    <div class="p-field input-class">
      <label for="percentualeProteineGranella" style="color: white"
        >Proteine Granella %</label
      >
      <p-inputNumber
        class="data-input"
        id="percentualeProteineGranella"
        [(ngModel)]="datiProduttivi.datiProduttiviCarbonFootPrint.percentualeProteineGranella"
        [showButtons]="true"
        placeholder="Proteine Granella %"
        [min]="0"
        [max]="100"
        [required]="true"
      ></p-inputNumber>
    </div>
    <br />

    <button
      class="back-btn"
      pButton
      type="button"
      icon="pi pi-arrow-right"
      routerLink="/home-input"
      (click)="onBackCarboonFootPrint()"
    ></button>
  </div>
</div>
