<div class="container">
  <div class="form">
    <h2 class="title">Evoluzione Carbonio Suolo</h2>


      <div class=" input-class">
        <label for="listaDensitaApparente"   style="color: white; margin-right: 50px;">Tessitura (Densità Apparente)</label>&nbsp;
        <p-dropdown  styleClass="input-styling" *ngIf="!isTextInputDensitaApparente" id="listaDensitaApparente" placeholder=" " [options]="listaDensitaApparente" [(ngModel)]="selectedDensitaApparenteDropDown" optionLabel="name"></p-dropdown>
        <p-inputNumber styleClass="input-styling" [showButtons]="true" *ngIf="isTextInputDensitaApparente" [step]="0.1" [maxFractionDigits]="1" [(ngModel)]="selectedDensitaApparenteInput" inputId="minmax" inputId="minmax" mode="decimal" [min]="0.9" [max]="1.7"> </p-inputNumber>

        <p-inputSwitch styleClass="switch-styling" inputId="textDensitàApparente" [(ngModel)]="isTextInputDensitaApparente" ></p-inputSwitch>


      </div>
      <br />

      <div class="input-class">
        <label for="listaSostanzeOrganiche"  style="color: white;">Giudizio (Sostanza Organica)</label><br>
        <p-dropdown  *ngIf="!isTextInputSostanzaOrganica" styleClass="input-styling" id="listaSostanzeOrganiche" placeholder=" " [options]="listaSostanzeOrganiche" [(ngModel)]="selectedSostanzaOrganicaDropDown" optionLabel="name"></p-dropdown>
        <p-inputNumber styleClass="input-styling" [showButtons]="true" *ngIf="isTextInputSostanzaOrganica" [step]="0.1" [maxFractionDigits]="1" [(ngModel)]="selectedSostanzaOrganicaInput" inputId="minmax" inputId="minmax" mode="decimal" [min]="0.6" [max]="3.2"> </p-inputNumber>

        <p-inputSwitch styleClass="switch-styling" inputId="sostanzaOrganica" [(ngModel)]="isTextInputSostanzaOrganica"></p-inputSwitch>
      </div>
      <br />

      <div class="input-class">
        <label for="profondita"  style="color: white;">Profondità (cm)</label><br>
        <p-inputNumber class="data-input"
          id="profondita"

          [(ngModel)]="evoluzioneCarbonio.profondita"
          [showButtons]="true"
          placeholder="Profondità (cm)"
          [min]="0"
          [required]="true"
        ></p-inputNumber>
      </div>
      <br />



    <button class="back-btn" pButton type="button" icon="pi pi-arrow-right" routerLink="/home-input" (click)="onBack()" ></button>

  </div>
</div>
