<div class="container">
  <div [ngClass]="misurazioneExists ? 'form' : 'form-ext'" >
    <label *ngIf="misurazioneExists" style="color: white;font-size: 20px;">Nome Misurazione: {{misurazioneName}}</label>
    <button type="text" class="submit" [routerLink]="['/misurazioni']" *ngIf="!misurazioneExists">Selezionare Misurazione</button><br>

    <button type="text" class="submit" [routerLink]="['/lavorazioni']"*ngIf="misurazioneExists" >Operazioni Colturali</button><br>
    <button type="text" class="submit" [routerLink]="['/dati-produttivi']" *ngIf="misurazioneExists">Dati Produttivi</button><br>

    <button type="text" class="submit" [routerLink]="['/evoluzione-carbonio-suolo']" *ngIf="misurazioneExists">Dati Suolo</button><br>
    <button type="text" class="submit" [routerLink]="['/operation-selection']" *ngIf="misurazioneExists">Seleziona Calcolo</button>
  </div>
  </div>
